@mixin transition($property) {
  transition: $property 250ms ease-in-out;
}

@mixin responsiveBtn {
  width: 60px;
  font-size: 14px;
  padding: 15px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    width: $btn-width;
  }
}
