.footer {
  display: flex;
  justify-content: center;
  padding: $block-padding;
}

.footer__nav {
  font-size: 18px;
  font-weight: 400;
}

.footer__item {
  @include responsiveBtn;
  text-align: center;
  background-color: transparent;
  color: $text-color;
  border: 1px solid white;
  border-radius: $border-radius;
  &:hover,
  &:focus {
    border-color: $link-hover-color;
  }
  @include transition(border-color);
  @include transition(color);
}
